{% extends "base.html" %}
{% block title %}Contributors{% endblock %}
{% block content%}

<div id="contributors" style="padding: 30px;">
    <h1>Contributors</h1>
    <ul>
        <li>
            <b>Shaun Noronha</b><br>
            USN No.: 4NM20IS132<br>
            Email id: shaunnoronha15@gmail.com<br>
            Mobile No.: 7349594246
        </li>
        <li>
            <b>Ritesh Shetty</b><br>
            USN No.: 4NM20IS136<br>
            Email id: shettyritesh282@gmail.com<br>
            Mobile No.: 8652263369
        </li>
        <li>
            <b>Shreenidhi</b><br>
            USN No.: 4NM20IS138<br>
            Email id: shreenidhibhat26@gmail.com<br>
            Mobile No.: 9480979226
        </li>
        <li>
            <b>Sheetal</b><br>
            USN No.: 4NM20IS134<br>
            Email id: sheetalshenoy02@gmail.com<br>
            Mobile No.: 8105139164
        </li>
    </ul>
    <hr>
</div>


{%endblock%}